<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, class:"form-control"  %>
  </div>
  <div class="actions">
    <br>
    <div class="row">
      <%= f.submit "Salvar", class:"btn btn-success btn btn-ms" %>
      <%= link_to 'Voltar', users_path,class:"btn btn-info btn btn-ms" %>
    </div>
  </div>
<% end %>
